h2{
    color:#ff0800;
    
}

body{
    background-color: rgb(4, 187, 4);

    font-family: roboto;
    text-align: center;
}

header{
    border-bottom: 1px solid rgb(128, 128, 128);
}

footer{
    border-top: 1px solid gray;
}

#nome-usuário{
    font-weight: bold;
}


h1{
    color: red;
}
.comprar-agora {
    background-color: #e74c3c; /* Cor de fundo vermelha */
    color: white; /* Cor do texto branca */
    border: none; /* Sem borda */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
    margin-top: 20px; /* Espaçamento superior */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.comprar-agora:hover {
    background-color: #c0392b; /* Cor de fundo ao passar o mouse */
}